/*font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Quicksand", sans-serif;
}

body {
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 85px;
  font-weight: bold;
  font-family: var(--main-font);
  color: #24272a;
  padding: 20px;
}

h2 {
  font-size: 36px;
  color: #272142;
  font-weight: bold;
  font-family: var(--main-font);
}

h3 {
  font-size: 24px;
  opacity: 0.8;
  font-weight: bold;
}

.button {
  margin: 50px 0;
  text-align: center;
}

button {
  background-color: #ffffff;
  border-radius: 30px;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  text-align: center;
  transition: all 0.15s;
}

a {
  font-weight: bold;
}

button:hover {
  background-color: #d4cef6;
  box-shadow: #e7c8f9 0 -6px 8px inset;
  transform: scale(1.1);
}

.learn_more {
  text-align: left;
}

.homepage_upper_part {
  padding: 100px 20px;
  background-color: #ececfb;
}

p {
  font-size: 18px;
}

.bg_image {
  background-color: #f9f7fe;
}

.application_app {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

.title {
  font-size: 62px;
  font-weight: bold;
  text-align: left;
  line-height: 90px;
}

.title_project {
  color: #24272a;
  opacity: 1;
  font-family: var(--main-font);
  text-align: left;
}

.title_about_referral {
  text-align: left;
  opacity: 1;
  font-weight: bold;
  font-size: 19px;
}

.section_content {
  padding: 70px 20px;
}

.content {
  margin: 30px;
}

.my_foto {
  border-radius: 15px;
  width: 450px;
  margin-left: 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 30px;
}

nav ul {
  padding: 0;
  margin: 0;
  line-height: 40px;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  color: #24272a;
  opacity: 0.9;
}

nav a:hover {
  color: #816cf7;
  transition: all 100ms ease-in-out;
}

nav li.active a {
  color: #816cf7;
}

footer {
  margin: 50px 0;
}

footer .mail_link {
  color: #24272a;
  text-decoration: none;
  font-size: 22px;
}

footer .mail_link:hover {
  color: #816cf7;
}

footer .icons a {
  margin: 20px 15px;
  color: #816cf7;
  background: #f9f7fe;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .icons a:hover {
  color: #ececfb;
  background: #816cf7;
}

footer .contact_container {
  background: #f9f7fe;
  padding: 30px 100px;
  margin-bottom: 50px;
  border-radius: 15px;
}

footer .contact_container p {
  margin: 15px 0;
}

footer .contact_title {
  font-family: var(--main-font);
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 770px) {
  body,
  .title,
  .learn_more {
    text-align: center;
  }

  h1 {
    font-size: 45px;
  }

  .homepage_upper_part {
    padding: 50px 20px;
  }

  .my_foto {
    margin: 40px 0;
  }

  nav a {
    font-size: 12px;
  }

  footer .contact_title {
    font-size: 25px;
  }

  .section_content {
    padding: 0 20px;
  }

  .title_project {
    text-align: center;
  }
}
