/*font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Quicksand", sans-serif;
}

body {
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 85px;
  font-weight: bold;
  font-family: var(--main-font);
  color: #24272a;
  padding: 20px;
}

h2 {
  font-size: 36px;
  color: #272142;
  font-weight: bold;
  font-family: var(--main-font);
}

h3 {
  font-size: 24px;
  opacity: 0.8;
  font-weight: bold;
}

.button {
  margin: 50px 0;
  text-align: center;
}

button {
  background-color: #ffffff;
  border-radius: 30px;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  text-align: center;
  transition: all 0.15s;
}

a {
  font-weight: bold;
}

button:hover {
  background-color: #d4cef6;
  box-shadow: #e7c8f9 0 -6px 8px inset;
  transform: scale(1.1);
}

.learn_more {
  text-align: left;
}

.homepage_upper_part {
  padding: 160px 20px;
  background-color: #f9f7fe;
}

p {
  font-size: 18px;
}

.bg_image {
  background-color: #f9f7fe;
}

.application_app {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

.title {
  text-align: left;
}

.title_about_name {
  font-size: 62px;
  font-weight: bold;
  text-align: left;
  line-height: 90px;
}

.title_about_referral {
  text-align: left;
  opacity: 1;
  font-weight: bold;
  font-size: 19px;
}

.section_about {
  padding: 150px 20px;
  max-width: 720px;
}

.my_foto {
  border-radius: 15px;
  width: 450px;
  margin-left: 60px;
}

@media (max-width: 900px) {
  body,
  .title,
  .learn_more {
    text-align: center;
  }

  h1 {
    font-size: 45px;
  }

  .homepage_upper_part {
    padding: 50px 20px;
  }
}
