/*font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root {
  --main-font: 'Playfair Display', serif;
  --secondary-font: 'Quicksand', sans-serif;

}
 
body {
 
  font-family: var(--secondary-font);
}


h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 85px;
  font-weight: bold;
  font-family: var(--main-font);
  color: #24272a;
  padding: 20px;

}

h2 {
  font-size: 36px;
  color: #272142;
  font-weight: bold;
  font-family: var(--main-font);
}

h3 {
  font-size: 24px;
  opacity: 0.8;
  font-weight: bold;
}

.button {
 margin: 50px 0;
 text-align: center;

}

button  {
  background-color: #FFFFFF;
  border-radius: 30px;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  text-align: center;
  transition: all .15s; 
  
}

a {
   margin: 20px;
   font-weight: bold;
  }

button:hover {
  background-color: #d4cef6;
  box-shadow: #e7c8f9 0 -6px 8px inset;
  transform: scale(1.1);
} 

.learn_more {
  text-align: left;
}

.homepage_upper_part {
  padding: 160px 20px;
  background-color:#F9F7FE;
}
 
p {
  font-size: 18px;
  }

  .bg_image {
    background-color: #F9F7FE;
  }

  .application_app {
    font-size: 16px;
    line-height: 30px;
    opacity: 0.8;
  }

  .title {
    text-align: left;
  }
  
  @media (max-width: 900px) {
    body, .title, .learn_more {
      text-align: center;
    }

    h1 {
    font-size: 45px;
  }

  .homepage_upper_part {
    padding: 50px 20px;
  }


  }









/*
@media (max-width: 576px ) {
  body {
    text-align: center;
    font-size: 20px;
    max-width: 576px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
    margin: 10px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
     padding: 15px;
     
  }

  .title_app {
    text-align: center;
  }

  .container {
    text-align: center;
  }

  .about_me_page {
    font-size: 45px;
  }

  .launch_links {
    text-align: center;
    
  }
  }

/*

